<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width" />
  <title><%= yield_content :title %></title>
  <link href="/images/favicon.png" rel="shortcut icon" />
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
  <link href="/stylesheets/global.css" rel="stylesheet" />
  <script src="/javascripts/modernizr.js"></script>
</head>