%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"}
%script window.jQuery || document.write('<script src="/javascripts/jquery.js">\x3C/script>')

/[if (gte IE 6)&(lte IE 8)]
  %script{:src => "/javascripts/selectivizr.js"}

%script{:src => "/javascripts/global.js"}
= yield_content :javascript