- content_for :title do
  Index - Project Name

%div{"data-role" => "page"}

  %div{"data-role" => "header"}

  %div{"data-role" => "content"}

    %h2 Hello Mobile World
    %a{"data-transition" => "slide", :href => "/sample"} sample
  
  %div{"data-role" => "footer"}

