- content_for :title do
  Sample page - Project Name

%div{"data-role" => "page"}
  
  %div{"data-role" => "header"}
  
  %div{"data-role" => "content"}
    %h2 sample page
    %a{"data-rel" => "back", :href => "/index"} Back
  
  %div{"data-role" => "footer"}