%head
  %meta{:charset => "utf-8"}
  /[if IE]
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= (yield_content :title)
  %link{:href => "/images/favicon.png", :rel => "shortcut icon"}
  %link{:rel => "stylesheet", :href => "/stylesheets/global.css"}
  %script{:src => "/javascripts/modernizr.js"}