%header#header
  %h1#logo
    %a{:href => "/"} Logo
  %nav
    %ul
      %li.active<
        %a{:href => "/"} Home
      %li<
        %a{:href => "/page1"} Page1
      %li<
        %a{:href => "/Page2"} Page2