.media{
  display:block;
  @extend .cf;
}
.media__img{
  float:left;
  margin-right:$base-spacing-unit;
}

.media__img--rev{
  float:right;
  margin-left:$base-spacing-unit;
}

.media__img img,
.media__img--rev img{
  display:block;
}

.media__body{
  overflow:hidden;
}
.media__body,
.media__body > :last-child{
  margin-bottom:0;
}

.islet .media__img{
  margin-right:$half-spacing-unit;
}
.islet .media__img--rev{
  margin-left:$half-spacing-unit;
}