%header#header
  %h1#logo
    %a{:href => "index.html"}
      %img{:alt => "", :src => "/images/logo.png"}/
  %nav
    %ul
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => ""} About
      %li
        %a{:href => ""} Contact Us