%header#header
  %h1#logo
    %a{:href => "/"}
      %img{:alt => "", :src => "/assets/logo.png"}/
  %nav
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => ""} About
      %li
        %a{:href => ""} Contact Us