%head
	%meta{:charset => "utf-8"}
	/[if IE]
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no"}
	%title= (yield :title)
  %meta{:name => "description", :content => ""}
  %link{:href => "/assets/favicon.png", :rel => "shortcut icon"}
	%link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon"}
	= javascript_include_tag "modernizr"
	= stylesheet_link_tag    "application", :media => "all"
