<% content_for :title do %>
  Index - Project Name
<% end %>

<div data-role="page">
	<div data-role="header"></div>

	<div data-role="content">
		<h2>Hello Mobile World</h2>
		<a href="/sample" data-transition="slide">sample</a>
	</div>

	<div data-role="footer"></div>
</div>

