<% content_for :title do %>
  Sample page - Project Name
<% end %>
<div data-role="page">
	<div data-role="header"></div>
	<div data-role="content">
		<h2>sample page</h2>
		<a href="/index" data-rel="back"> Back</a>
	</div>
	<div data-role="footer"></div>
</div>